<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title text-center">
      <h2>Επικοινωνία</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
    </div>
    <div class="col-md-10 col-md-offset-1 contact-info">
      <div class="col-md-4">
        <h3>Διευθυνση</h3>
        <hr>
        <div class="contact-item">
          <p>10ο χλμ. Θεσσαλονίκης-Μουδανιών,</p>
          <p>Θέρμη, 570 01</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>ωρες λειτουργιας</h3>
        <hr>
        <div class="contact-item">
          <p>Δευτέρα-Σάββατο: 07:00 - 20:00</p>
          <p>Κυριακή: 10:00 - 16:00</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Στοιχεια Επικοινωνιας</h3>
        <hr>
        <div class="contact-item">
          <p>Τηλέφωνο: +30 2310 273081</p>
          <p>Κινητό: +30 6977587600</p>
          <p>Email: fitoria.lemonidi@company.com</p>
        </div>
      </div>
    </div>
  </div>