<!-- Services Section -->
<div id="services">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 section-title text-center">
      <h2>Οι Υπηρεσίες μας</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
    </div>
    <div class="row">
      <div class="col-md-3 text-center">
        <div class="service-media"> <img src="<%= asset_path("services/service-1.jpg") %>" alt=" "> </div>
        <div class="service-desc">
          <h3>Συντήρηση Κήπου</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at.</p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-media"> <img src="<%= asset_path("services/service-2.jpg") %>" alt=" "> </div>
        <div class="service-desc">
          <h3>Διαμόρφωση Τοπίου</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at.</p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-media"> <img src="<%= asset_path("services/service-3.jpg") %>" alt=" "> </div>
        <div class="service-desc">
          <h3>Φροντίδα Δέντρων</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at.</p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-media"> <img src="<%= asset_path("services/service-4.jpg") %>" alt=" "> </div>
        <div class="service-desc">
          <h3>Έργα Υποδομής</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at.</p>
        </div>
      </div>
    </div>
  </div>
</div>